<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <h3 mat-dialog-title>To-Do Create/Edit!</h3>
  <form [formGroup]="form" *ngIf="!isLoading">
    <!-- title -->
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Post Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a Task title.</mat-error>
    </mat-form-field>
    <!-- task start date -->
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker1" type="text" formControlName="startdate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
      <mat-error *ngIf="form.get('startdate').invalid">Please enter valid start Date</mat-error>
    </mat-form-field>
    <!-- deadline date -->
    <mat-form-field>
      <mat-label>Deadline Date</mat-label>
      <input matInput [matDatepicker]="picker2" type="text" formControlName="deadline">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
      <mat-error *ngIf="form.get('deadline').invalid">Please enter valid Date</mat-error>
    </mat-form-field>
    <!-- category -->
    <div >
      <mat-button-toggle-group formControlName="group" appearance="legacy">
        <mat-button-toggle value=0 >
          <mat-icon [matTooltipPosition]="'below'" matTooltip="shopping">add_shopping_cart</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value=1 >
          <mat-icon [matTooltipPosition]="'below'" matTooltip="work">work</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value=2>
          <mat-icon [matTooltipPosition]="'below'" matTooltip="learn">class</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value=3>
          <mat-icon [matTooltipPosition]="'below'" matTooltip="other">extension</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div style="visibility: hidden;"><p>Selected Category: {{form.get('group').value}}</p></div>


    <div mat-dialog-actions>
      <button mat-button color="primary" type="button" (click)="onAddTask()">SAVE</button>
      <button mat-button mat-dialog-close color="warn" type="button" (click)="onDelete(task.id)">DELETE</button>
    </div>

  </form>
</mat-card>
