


.my-float{
  position:fixed;
  justify-content: center;
  width: 120px;
	height:60px;
	bottom:100px;
  right:100px;

  color:#FFF;
  border:0;
  font-size: 50px;
}
.fabc.material-icons{
  font-size:50px;
}



